# 1. Import Libraries & Data

In [80]:
# import libraries
import numpy as np
import pandas as pd
import os
import datetime

In [81]:
# import data
path = r'/Users/oliviamurphy/Desktop/Airlines Project/02 Data'
delta_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'delta_df_wrangled.csv'), index_col = [0])
american_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'american_df_wrangled.csv'), index_col = [0])
united_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'united_df_wrangled.csv'), index_col = [0])
southwest_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'southwest_df_wrangled.csv'), index_col = [0])
airport_codes_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'airport_codes_df_wrangled.csv'), index_col = [0])

# 2. Convert mixed datatypes

In [83]:
# converts mixed type columns to str 
delta_df['Carrier'] = delta_df['Carrier'].astype(str)
delta_df['Date (MM/DD/YYYY)'] = delta_df['Date (MM/DD/YYYY)'].astype(str)
delta_df['Tail Number'] = delta_df['Tail Number'].astype(str)
delta_df['Destination Airport'] = delta_df['Destination Airport'].astype(str)
american_df['Carrier'] = american_df['Carrier'].astype(str)
american_df['Date (MM/DD/YYYY)'] = american_df['Date (MM/DD/YYYY)'].astype(str)
american_df['Tail Number'] = american_df['Tail Number'].astype(str)
american_df['Destination Airport'] = american_df['Destination Airport'].astype(str)
united_df['Carrier'] = united_df['Carrier'].astype(str)
united_df['Date (MM/DD/YYYY)'] = united_df['Date (MM/DD/YYYY)'].astype(str)
united_df['Tail Number'] = united_df['Tail Number'].astype(str)
united_df['Destination Airport'] = united_df['Destination Airport'].astype(str)
southwest_df['Carrier'] = southwest_df['Carrier'].astype(str)
southwest_df['Date (MM/DD/YYYY)'] = southwest_df['Date (MM/DD/YYYY)']
southwest_df['Tail Number'] = southwest_df['Tail Number'].astype(str)
southwest_df['Destination Airport'] = southwest_df['Destination Airport'].astype(str)
delta_df['Flight Number'] = delta_df['Flight Number'].astype(str)
american_df['Flight Number'] = american_df['Flight Number'].astype(str)
united_df['Flight Number'] = united_df['Flight Number'].astype(str)
southwest_df['Flight Number'] = southwest_df['Flight Number'].astype(str)

# converts mixed type columns to time
delta_df['Actual Departure Time'] = pd.to_datetime(delta_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
delta_df['Scheduled Departure Time'] = pd.to_datetime(delta_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time
united_df['Actual Departure Time'] = pd.to_datetime(united_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
united_df['Scheduled Departure Time'] = pd.to_datetime(united_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time
american_df['Actual Departure Time'] = pd.to_datetime(american_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
american_df['Scheduled Departure Time'] = pd.to_datetime(american_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time
southwest_df['Actual Departure Time'] = pd.to_datetime(southwest_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
southwest_df['Scheduled Departure Time'] = pd.to_datetime(southwest_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time

# 3. Check for missing values

## airport_codes_df

In [85]:
#checks for missing values in airport_codes_df
airport_codes_df.isnull().sum()
# no null values

Airport Code     0
Full Location    0
dtype: int64

## delta_df

In [86]:
#checks for missing values in delta_df
delta_df.isnull().sum()
# missing values make up less than 5% of dataset. Choosing to drop missing values.

Carrier                                     0
Date (MM/DD/YYYY)                           0
Flight Number                               0
Tail Number                                 0
Destination Airport                         0
Scheduled Departure Time                    2
Actual Departure Time                       2
Scheduled Elapsed Time (Minutes)            2
Actual Elapsed Time (Minutes)               2
Departure Delay (Minutes)                   2
Taxi-Out Time (Minutes)                     2
Delay Carrier (Minutes)                     2
Delay Weather (Minutes)                     2
Delay National Aviation System (Minutes)    2
Delay Security (Minutes)                    2
Delay Late Aircraft Arrival (Minutes)       2
dtype: int64

In [87]:
# drops missing values from delta_df
delta_df = delta_df.dropna()

In [88]:
delta_df.shape

(36238, 16)

## american_df

In [89]:
#checks for missing values in american_df
american_df.isnull().sum()
# missing values make up less than 5% of dataset. Choosing to drop missing values.

Carrier                                     0
Date (MM/DD/YYYY)                           0
Flight Number                               0
Tail Number                                 0
Destination Airport                         0
Scheduled Departure Time                    2
Actual Departure Time                       2
Scheduled Elapsed Time (Minutes)            2
Actual Elapsed Time (Minutes)               2
Departure Delay (Minutes)                   2
Taxi-Out Time (Minutes)                     2
Delay Carrier (Minutes)                     2
Delay Weather (Minutes)                     2
Delay National Aviation System (Minutes)    2
Delay Security (Minutes)                    2
Delay Late Aircraft Arrival (Minutes)       2
dtype: int64

In [90]:
# drops missing values from american_df 
american_df = american_df.dropna()

## united_df

In [91]:
#checks for missing values in united_df
united_df.isnull().sum()
# missing values make up less than 5% of dataset. Choosing to drop missing values.

Carrier                                     0
Date (MM/DD/YYYY)                           0
Flight Number                               0
Tail Number                                 0
Destination Airport                         0
Scheduled Departure Time                    2
Actual Departure Time                       2
Scheduled Elapsed Time (Minutes)            2
Actual Elapsed Time (Minutes)               2
Departure Delay (Minutes)                   2
Taxi-Out Time (Minutes)                     2
Delay Carrier (Minutes)                     2
Delay Weather (Minutes)                     2
Delay National Aviation System (Minutes)    2
Delay Security (Minutes)                    2
Delay Late Aircraft Arrival (Minutes)       2
dtype: int64

In [92]:
# drops missing values from united_df 
united_df = united_df.dropna()

## southwest_df

In [93]:
#checks for missing values in southwest_df
southwest_df.isnull().sum()
# missing values make up less than 5% of dataset. Choosing to drop missing values.

Carrier                                     0
Date (MM/DD/YYYY)                           2
Flight Number                               0
Tail Number                                 0
Destination Airport                         0
Scheduled Departure Time                    2
Actual Departure Time                       2
Scheduled Elapsed Time (Minutes)            2
Actual Elapsed Time (Minutes)               2
Departure Delay (Minutes)                   2
Taxi-Out Time (Minutes)                     2
Delay Carrier (Minutes)                     2
Delay Weather (Minutes)                     2
Delay National Aviation System (Minutes)    2
Delay Security (Minutes)                    2
Delay Late Aircraft Arrival (Minutes)       2
dtype: int64

In [94]:
# drops missing values from southwest_df
southwest_df = southwest_df.dropna()

# 4. Duplicates

## airport_codes_df

In [95]:
# checks for full duplicates in airport_codes_df
airport_codes_df[airport_codes_df.duplicated()]
# no duplicates

Empty DataFrame
Columns: [Airport Code, Full Location]
Index: []

In [96]:
## delta_df

In [97]:
# checks for full duplicates in delta_df 
delta_df[delta_df.duplicated()]
# no duplicates

Empty DataFrame
Columns: [Carrier, Date (MM/DD/YYYY), Flight Number, Tail Number, Destination Airport, Scheduled Departure Time, Actual Departure Time, Scheduled Elapsed Time (Minutes), Actual Elapsed Time (Minutes), Departure Delay (Minutes), Taxi-Out Time (Minutes), Delay Carrier (Minutes), Delay Weather (Minutes), Delay National Aviation System (Minutes), Delay Security (Minutes), Delay Late Aircraft Arrival (Minutes)]
Index: []

## american_df

In [98]:
# checks for full duplicates in american_df 
american_df[american_df.duplicated()]
# no duplicates

Empty DataFrame
Columns: [Carrier, Date (MM/DD/YYYY), Flight Number, Tail Number, Destination Airport, Scheduled Departure Time, Actual Departure Time, Scheduled Elapsed Time (Minutes), Actual Elapsed Time (Minutes), Departure Delay (Minutes), Taxi-Out Time (Minutes), Delay Carrier (Minutes), Delay Weather (Minutes), Delay National Aviation System (Minutes), Delay Security (Minutes), Delay Late Aircraft Arrival (Minutes)]
Index: []

## united_df

In [99]:
# checks for full duplicates in united_df 
united_df[united_df.duplicated()]
#no duplicates

Empty DataFrame
Columns: [Carrier, Date (MM/DD/YYYY), Flight Number, Tail Number, Destination Airport, Scheduled Departure Time, Actual Departure Time, Scheduled Elapsed Time (Minutes), Actual Elapsed Time (Minutes), Departure Delay (Minutes), Taxi-Out Time (Minutes), Delay Carrier (Minutes), Delay Weather (Minutes), Delay National Aviation System (Minutes), Delay Security (Minutes), Delay Late Aircraft Arrival (Minutes)]
Index: []

## southwest_df

In [100]:
# checks for full duplicates in southwest_df 
southwest_df[southwest_df.duplicated()]
# no duplicates

Empty DataFrame
Columns: [Carrier, Date (MM/DD/YYYY), Flight Number, Tail Number, Destination Airport, Scheduled Departure Time, Actual Departure Time, Scheduled Elapsed Time (Minutes), Actual Elapsed Time (Minutes), Departure Delay (Minutes), Taxi-Out Time (Minutes), Delay Carrier (Minutes), Delay Weather (Minutes), Delay National Aviation System (Minutes), Delay Security (Minutes), Delay Late Aircraft Arrival (Minutes)]
Index: []

# 5. Accuracy Checks

## Descriptive stats (accuracy check)

### airport_codes_df

In [101]:
# descriptive stats for airport_codes_df
airport_codes_df.describe()
## no need to pull value counts at this point - too many unique

       Airport Code                        Full Location
count          9235                                 9235
unique         9235                                 8927
top             AAC  HOUSTON, TEXAS, USA
freq              1                                   13

### delta_df (numerical data)

In [102]:
delta_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36238 entries, 0 to 36237
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier                                   36238 non-null  object
 1   Date (MM/DD/YYYY)                         36238 non-null  object
 2   Flight Number                             36238 non-null  object
 3   Tail Number                               36238 non-null  object
 4   Destination Airport                       36238 non-null  object
 5   Scheduled Departure Time                  36238 non-null  object
 6   Actual Departure Time                     36238 non-null  object
 7   Scheduled Elapsed Time (Minutes)          36238 non-null  float64
 8   Actual Elapsed Time (Minutes)             36238 non-null  float64
 9   Departure Delay (Minutes)                 36238 non-null  float64
 10  Taxi-Out Time (Minutes)                   36238 non-null  float64
 11  Delay Carrier (Minutes)                   36238 non-null  float64
 12  Delay Weather (Minutes)                   36238 non-null  float64
 13  Delay National Aviation System (Minutes)  36238 non-null  float64
 14  Delay Security (Minutes)                  36238 non-null  float64
 15  Delay Late Aircraft Arrival (Minutes)     36238 non-null  float64
dtypes: float64(9), object(7)
memory usage: 4.7+ MB

In [103]:
# descriptive stats for delta_df
delta_df.describe()
# negative numbers could mean the flight left early?

,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
count,36238.000000,36238.000000,36238.000000,36238.000000,36238.000000,36238.000000,36238.000000,36238.000000,36238.000000
mean,211.756581,201.688449,4.455682,17.865997,2.401623,0.187510,1.670208,0.008030,2.128870
std,70.489574,71.815832,39.797311,6.733752,29.518657,8.413111,12.662873,0.652384,17.475143
min,49.000000,0.000000,-24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,127.000000,127.000000,-5.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,221.000000,213.000000,-2.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,259.000000,251.000000,1.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,348.000000,588.000000,1197.000000,113.000000,1191.000000,1086.000000,798.000000,78.000000,978.000000

### delta_df (categorical data)

In [104]:
# returns counts for delta_df['Carrier Code']
delta_df['Carrier'].value_counts()

DL    36238
Name: Carrier, dtype: int64

In [105]:
# replaces abbreviated airline name with full airline name
delta_df['Carrier'] = delta_df['Carrier'].replace('DL', 'Delta')

In [106]:
# Checks output of airline name
delta_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
0,Delta,1/1/17,50.0,N385DN,SLC,16:45:00,16:49:00,119.0,108.0,4.0,15.0,0.0,0.0,0.0,0.0,0.0
1,Delta,1/1/17,106.0,N313US,SLC,13:05:00,13:01:00,117.0,116.0,-4.0,20.0,0.0,0.0,0.0,0.0,0.0
2,Delta,1/1/17,132.0,N588NW,DTW,07:15:00,07:18:00,258.0,247.0,3.0,14.0,0.0,0.0,0.0,0.0,0.0
3,Delta,1/1/17,798.0,N848DN,SLC,06:15:00,06:38:00,125.0,126.0,23.0,15.0,23.0,0.0,1.0,0.0,0.0
4,Delta,1/1/17,1592.0,N557NW,ATL,06:30:00,07:00:00,251.0,243.0,30.0,19.0,22.0,0.0,0.0,0.0,0.0

In [107]:
# returns counts for delta_df['Tail Number']
delta_df['Tail Number'].value_counts()

N333DX    151
N322DN    149
N340DN    144
N329DN    144
N338DN    144
         ...
N821DX      1
N841MH      1
N185DN      1
N806NW      1
N802NW      1
Name: Tail Number, Length: 847, dtype: int64

In [108]:
# nan values for delta_df['Tail Number']
nan_delta = delta_df[delta_df['Tail Number'] == 'nan']

In [109]:
nan_delta.shape

(47, 16)

In [110]:
delta_df['Flight Number'].value_counts()

1592.0    1054
2872.0     976
1692.0     924
1728.0     869
2546.0     830
          ...
300.0        1
528.0        1
981.0        1
1408.0       1
1409.0       1
Name: Flight Number, Length: 453, dtype: int64

In [111]:
# returns value counts for delta_df['Destination Airport']
delta_df['Destination Airport'].value_counts()

SLC    8398
ATL    8384
MSP    5872
SEA    4932
JFK    4149
DTW    3795
LAX     706
LAS       2
Name: Destination Airport, dtype: int64

### american_df (numerical data)

In [112]:
# descriptive stats for american_df
american_df.describe()
# negative numbers could mean the flight left early?

,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
count,40206.000000,40206.000000,40206.000000,40206.000000,40206.000000,40206.000000,40206.000000,40206.000000,40206.000000
mean,205.085186,193.570437,7.867880,18.862259,3.960230,0.295031,2.011366,0.033105,4.506342
std,76.469202,80.959254,62.772821,7.734355,44.854392,8.862195,12.612458,3.279141,34.588934
min,70.000000,0.000000,-29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,177.000000,161.000000,-6.000000,14.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,187.000000,184.000000,-4.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,275.000000,263.000000,0.000000,22.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,345.000000,480.000000,2466.000000,158.000000,2457.000000,1143.000000,548.000000,636.000000,2021.000000

### american_df (categorical data)

In [113]:
# returns counts for american_df['Carrier']
american_df['Carrier'].value_counts()

AA    40206
Name: Carrier, dtype: int64

In [114]:
# replaces abbreviated airline name with full airline name
american_df['Carrier'] = american_df['Carrier'].replace('AA', 'American')

In [115]:
# Checks output of airline name
american_df['Carrier'].head()

0    American
1    American
2    American
3    American
4    American
Name: Carrier, dtype: object

In [116]:
# returns counts for american_df['Tail Number']
american_df['Tail Number'].value_counts()

N163AA    176
N929AA    170
N902AA    153
N161AA    153
N901AA    149
         ...
N004AA      1
N775XF      1
N303RG      1
N9011P      1
N378SC      1
Name: Tail Number, Length: 1343, dtype: int64

In [117]:
# nan values for american_df['Tail Number']
nan_american = american_df[american_df['Tail Number'] == 'nan']

In [118]:
# prints nan values count
nan_american.shape

(81, 16)

In [119]:
# returns counts for american_df['Flight Number']
american_df['Flight Number'].value_counts()

639.0     1276
2535.0    1199
1651.0    1101
625.0     1052
1209.0     915
          ...
2303.0       1
2304.0       1
264.0        1
2524.0       1
676.0        1
Name: Flight Number, Length: 347, dtype: int64

In [120]:
# returns value counts for american_df['Destination Airport']
american_df['Destination Airport'].value_counts()

DFW    14786
PHX     8000
ORD     5836
CLT     5178
PHL     3238
MIA     1924
JFK     1242
LAS        2
Name: Destination Airport, dtype: int64

### united_df (numerical data)

In [121]:
# descriptive stats for united_df
united_df.describe()
# negative numbers could mean the flight left early?

,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
count,42173.000000,42173.000000,42173.000000,42173.000000,42173.000000,42173.000000,42173.000000,42173.000000,42173.000000
mean,186.316956,177.299220,6.123966,17.373746,1.859555,0.375643,4.544638,0.003509,3.365115
std,77.447738,79.483063,47.031589,7.784841,25.918114,14.349767,22.816457,0.384708,22.856851
min,51.000000,0.000000,-25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,104.000000,103.000000,-7.000000,13.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,186.000000,175.000000,-4.000000,16.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,245.000000,241.000000,0.000000,20.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,343.000000,537.000000,1388.000000,139.000000,1337.000000,1315.000000,1266.000000,56.000000,1133.000000

### united_df (categorical data)

In [122]:
# returns counts for united_df['Carrier']
united_df['Carrier'].value_counts()

UA    42173
Name: Carrier, dtype: int64

In [123]:
# replaces abbreviated airline name with full airline name
united_df['Carrier'] = united_df['Carrier'].replace('UA', 'United')

In [124]:
# Checks output of airline name
united_df['Carrier'].head()

0    United
1    United
2    United
3    United
4    United
Name: Carrier, dtype: object

In [125]:
# returns counts for united_df['Tail Number'] leave in nan values
united_df['Tail Number'].value_counts()

nan       553
N38454    135
N34455    132
N37462    129
N37471    129
         ...
N873UA      1
N75861      1
N587UA      1
N505UA      1
N546UA      1
Name: Tail Number, Length: 611, dtype: int64

In [126]:
# nan values for united_df['Tail Number']
nan_united = united_df[united_df['Tail Number'] == 'nan']

In [127]:
# prints nan values count
nan_united.shape

(553, 16)

In [128]:
# returns counts for united_df['Tail Number']
united_df['Flight Number'].value_counts()

546.0     1796
736.0     1130
555.0      998
662.0      952
2163.0     938
          ...
1111.0       1
1295.0       1
125.0        1
2287.0       1
387.0        1
Name: Flight Number, Length: 395, dtype: int64

In [129]:
# returns counts for united_df['Tail Number']
united_df['Destination Airport'].value_counts()

SFO    11263
DEN     7383
IAH     7300
ORD     6844
EWR     4588
IAD     4234
LAX      561
Name: Destination Airport, dtype: int64

### southwest_df (numerical data)

In [130]:
# descriptive stats for southwest_df
southwest_df.describe()
# negative numbers could mean the flight left early?

,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes)
count,159390.000000,159390.000000,159390.000000,159390.00000,159390.000000,159390.000000,159390.000000,159390.000000,159390.00000
mean,125.545737,115.394504,8.024186,12.72221,2.050304,0.089943,1.318759,0.015716,4.31534
std,62.932766,64.336207,25.830844,5.60168,12.635800,3.021146,8.657389,0.719287,17.02541
min,65.000000,0.000000,-34.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000
25%,85.000000,75.000000,-4.000000,10.00000,0.000000,0.000000,0.000000,0.000000,0.00000
50%,95.000000,88.000000,0.000000,12.00000,0.000000,0.000000,0.000000,0.000000,0.00000
75%,160.000000,151.000000,8.000000,15.00000,0.000000,0.000000,0.000000,0.000000,0.00000
max,390.000000,420.000000,520.000000,126.00000,520.000000,293.000000,363.000000,82.000000,382.00000

### southwest_df (categorical data)

In [131]:
# returns counts for southwest_df['Carrier']
southwest_df['Carrier'].value_counts()

WN    159390
Name: Carrier, dtype: int64

In [132]:
# replaces abbreviated airline name with full airline name
southwest_df['Carrier'] = southwest_df['Carrier'].replace('WN', 'Southwest')

In [133]:
# checks output of full airline name
southwest_df['Carrier'].head()

0    Southwest
1    Southwest
2    Southwest
3    Southwest
4    Southwest
Name: Carrier, dtype: object

In [134]:
# returns counts for southwest_df['Tail Number']
southwest_df['Tail Number'].value_counts()

nan       2080
N266WN     292
N935WN     282
N929WN     276
N951WN     273
          ...
N359SW       1
N362SW       1
N609SW       1
N655WN       1
N617SW       1
Name: Tail Number, Length: 869, dtype: int64

In [135]:
# nan values for southwest_df['Tail Number']
nan_southwest = southwest_df[southwest_df['Tail Number'] == 'nan']

In [136]:
# prints nan values count
nan_southwest.shape

(2080, 16)

In [137]:
# returns counts for southwest_df['Flight Number']
southwest_df['Flight Number'].value_counts()

1504.0    242
1385.0    241
1927.0    235
1119.0    235
1467.0    226
         ...
2049.0      1
1416.0      1
1374.0      1
357.0       1
6719.0      1
Name: Flight Number, Length: 5764, dtype: int64

In [138]:
# returns counts for southwest_df['Destination Airport']
southwest_df['Destination Airport'].value_counts()

SJC    17720
SMF    17554
OAK    15769
LAS    15312
PHX    15066
SFO    10755
DEN     9980
MDW     5999
DAL     5896
BWI     4157
HOU     3908
AUS     3678
RNO     3401
STL     2909
TUS     2652
BNA     2641
PDX     2588
ABQ     2392
SAT     2282
MCI     2281
SEA     1666
SLC     1650
ATL     1487
BOI     1273
MSY     1270
MCO     1009
HNL      631
TPA      621
ELP      520
EWR      447
OGG      350
GEG      343
MKE      310
OMA      289
IND      212
KOA      127
LIH      115
ORF       93
MSP       27
BZN       10
Name: Destination Airport, dtype: int64

# Note, times, dates, & locations have not been investigated yet, as transformations are needed on their values

# 5. Check Shapes of cleaned data frames

In [139]:
# checks shape of delta_df
delta_df.shape

(36238, 16)

In [140]:
# checks shape of american_df
american_df.shape

(40206, 16)

In [141]:
# checks shape of united_df
united_df.shape

(42173, 16)

In [142]:
# checks shape of southwest_df
southwest_df.shape

(159390, 16)

In [143]:
# checks shape of airport_codes_df
airport_codes_df.shape

(9235, 2)

# 6. Export Data

In [144]:
# exports all dfs to prepared data folder
delta_df.to_csv(os.path.join(path, 'Prepared Data', 'delta_df_cleaned.csv'))
american_df.to_csv(os.path.join(path, 'Prepared Data', 'american_df_cleaned.csv'))
united_df.to_csv(os.path.join(path, 'Prepared Data', 'united_df_cleaned.csv'))
southwest_df.to_csv(os.path.join(path, 'Prepared Data', 'southwest_df_cleaned.csv'))
airport_codes_df.to_csv(os.path.join(path, 'Prepared Data', 'airport_codes_df_cleaned.csv'))