# 1. Import Libraries & Data

In [20]:
# import libraries
import numpy as np
import pandas as pd
import os
import datetime

In [21]:
# import data
path = r'/Users/oliviamurphy/Desktop/Airlines Project/02 Data'
delta_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'delta_df_cleaned.csv'), index_col = [0])
american_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'american_df_cleaned.csv'), index_col = [0])
united_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'united_df_cleaned.csv'), index_col = [0])
southwest_df =  pd.read_csv(os.path.join(path, 'Prepared Data', 'southwest_df_cleaned.csv'), index_col = [0])
airport_codes_df= pd.read_csv(os.path.join(path, 'Prepared Data', 'airport_codes_df_cleaned.csv'), index_col = [0])

In [22]:
# converts mixed type columns to str
delta_df['Carrier'] = delta_df['Carrier'].astype(str)
delta_df['Date (MM/DD/YYYY)'] = delta_df['Date (MM/DD/YYYY)'].astype(str)
delta_df['Tail Number'] = delta_df['Tail Number'].astype(str)
delta_df['Destination Airport'] = delta_df['Destination Airport'].astype(str)
american_df['Carrier'] = american_df['Carrier'].astype(str)
american_df['Date (MM/DD/YYYY)'] = american_df['Date (MM/DD/YYYY)'].astype(str)
american_df['Tail Number'] = american_df['Tail Number'].astype(str)
american_df['Destination Airport'] = american_df['Destination Airport'].astype(str)
united_df['Carrier'] = united_df['Carrier'].astype(str)
united_df['Date (MM/DD/YYYY)'] = united_df['Date (MM/DD/YYYY)'].astype(str)
united_df['Tail Number'] = united_df['Tail Number'].astype(str)
united_df['Destination Airport'] = united_df['Destination Airport'].astype(str)
southwest_df['Carrier'] = southwest_df['Carrier'].astype(str)
southwest_df['Date (MM/DD/YYYY)'] = southwest_df['Date (MM/DD/YYYY)']
southwest_df['Tail Number'] = southwest_df['Tail Number'].astype(str)
southwest_df['Destination Airport'] = southwest_df['Destination Airport'].astype(str)
delta_df['Flight Number'] = delta_df['Flight Number'].astype(str)
american_df['Flight Number'] = american_df['Flight Number'].astype(str)
united_df['Flight Number'] = united_df['Flight Number'].astype(str)
southwest_df['Flight Number'] = southwest_df['Flight Number'].astype(str)

# converts mixed type columns to time
delta_df['Actual Departure Time'] = pd.to_datetime(delta_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
delta_df['Scheduled Departure Time'] = pd.to_datetime(delta_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time
united_df['Actual Departure Time'] = pd.to_datetime(united_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
united_df['Scheduled Departure Time'] = pd.to_datetime(united_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time
american_df['Actual Departure Time'] = pd.to_datetime(american_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
american_df['Scheduled Departure Time'] = pd.to_datetime(american_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time
southwest_df['Actual Departure Time'] = pd.to_datetime(southwest_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
southwest_df['Scheduled Departure Time'] = pd.to_datetime(southwest_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time

# 2. Return list of variables

In [23]:
# returns variable list for delta_df
delta_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36238 entries, 0 to 36237
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier                                   36238 non-null  object
 1   Date (MM/DD/YYYY)                         36238 non-null  object
 2   Flight Number                             36238 non-null  object
 3   Tail Number                               36238 non-null  object
 4   Destination Airport                       36238 non-null  object
 5   Scheduled Departure Time                  36238 non-null  object
 6   Actual Departure Time                     36238 non-null  object
 7   Scheduled Elapsed Time (Minutes)          36238 non-null  float64
 8   Actual Elapsed Time (Minutes)             36238 non-null  float64
 9   Departure Delay (Minutes)                 36238 non-null  float64
 10  Taxi-Out Time (Minutes)                   36238 non-null  float64
 11  Delay Carrier (Minutes)                   36238 non-null  float64
 12  Delay Weather (Minutes)                   36238 non-null  float64
 13  Delay National Aviation System (Minutes)  36238 non-null  float64
 14  Delay Security (Minutes)                  36238 non-null  float64
 15  Delay Late Aircraft Arrival (Minutes)     36238 non-null  float64
dtypes: float64(9), object(7)
memory usage: 4.7+ MB

In [24]:
# returns variable list for american_df
american_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40206 entries, 0 to 40205
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier                                   40206 non-null  object
 1   Date (MM/DD/YYYY)                         40206 non-null  object
 2   Flight Number                             40206 non-null  object
 3   Tail Number                               40206 non-null  object
 4   Destination Airport                       40206 non-null  object
 5   Scheduled Departure Time                  40206 non-null  object
 6   Actual Departure Time                     40206 non-null  object
 7   Scheduled Elapsed Time (Minutes)          40206 non-null  float64
 8   Actual Elapsed Time (Minutes)             40206 non-null  float64
 9   Departure Delay (Minutes)                 40206 non-null  float64
 10  Taxi-Out Time (Minutes)                   40206 non-null  float64
 11  Delay Carrier (Minutes)                   40206 non-null  float64
 12  Delay Weather (Minutes)                   40206 non-null  float64
 13  Delay National Aviation System (Minutes)  40206 non-null  float64
 14  Delay Security (Minutes)                  40206 non-null  float64
 15  Delay Late Aircraft Arrival (Minutes)     40206 non-null  float64
dtypes: float64(9), object(7)
memory usage: 5.2+ MB

In [25]:
# returns variable list for southwest_df
southwest_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 159390 entries, 0 to 159389
Data columns (total 16 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Carrier                                   159390 non-null  object
 1   Date (MM/DD/YYYY)                         159390 non-null  object
 2   Flight Number                             159390 non-null  object
 3   Tail Number                               159390 non-null  object
 4   Destination Airport                       159390 non-null  object
 5   Scheduled Departure Time                  159390 non-null  object
 6   Actual Departure Time                     159390 non-null  object
 7   Scheduled Elapsed Time (Minutes)          159390 non-null  float64
 8   Actual Elapsed Time (Minutes)             159390 non-null  float64
 9   Departure Delay (Minutes)                 159390 non-null  float64
 10  Taxi-Out Time (Minutes)                   159390 non-null  float64
 11  Delay Carrier (Minutes)                   159390 non-null  float64
 12  Delay Weather (Minutes)                   159390 non-null  float64
 13  Delay National Aviation System (Minutes)  159390 non-null  float64
 14  Delay Security (Minutes)                  159390 non-null  float64
 15  Delay Late Aircraft Arrival (Minutes)     159390 non-null  float64
dtypes: float64(9), object(7)
memory usage: 20.7+ MB

In [26]:
# returns variable list for united_df
united_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42173 entries, 0 to 42172
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   Carrier                                   42173 non-null  object
 1   Date (MM/DD/YYYY)                         42173 non-null  object
 2   Flight Number                             42173 non-null  object
 3   Tail Number                               42173 non-null  object
 4   Destination Airport                       42173 non-null  object
 5   Scheduled Departure Time                  42173 non-null  object
 6   Actual Departure Time                     42173 non-null  object
 7   Scheduled Elapsed Time (Minutes)          42173 non-null  float64
 8   Actual Elapsed Time (Minutes)             42173 non-null  float64
 9   Departure Delay (Minutes)                 42173 non-null  float64
 10  Taxi-Out Time (Minutes)                   42173 non-null  float64
 11  Delay Carrier (Minutes)                   42173 non-null  float64
 12  Delay Weather (Minutes)                   42173 non-null  float64
 13  Delay National Aviation System (Minutes)  42173 non-null  float64
 14  Delay Security (Minutes)                  42173 non-null  float64
 15  Delay Late Aircraft Arrival (Minutes)     42173 non-null  float64
dtypes: float64(9), object(7)
memory usage: 5.5+ MB

In [27]:
# returns variable list for airport_codes_df
airport_codes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9235 entries, 0 to 9234
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Airport Code   9235 non-null   object
 1   Full Location  9235 non-null   object
dtypes: object(2)
memory usage: 216.4+ KB

# 3. Append flight info dataframes

In [28]:
# appends delta_df & american_df
airlines_df = delta_df.append(american_df)

In [29]:
# appends airlines df & southwest_df
airlines_df = airlines_df.append(southwest_df)

In [30]:
# appends airlines_df & united_df
airlines_df = airlines_df.append(united_df)

In [31]:
# checks shape of airlines_df
airlines_df.shape

(278007, 16)

# 4. Merge airlines_df and airport_codes_df

In [32]:
# renames airport_codes_df{'Airport Code'} in preparation for merge
airport_codes_df.rename(columns = {'Airport Code': 'Destination Airport'}, inplace = True)

In [33]:
# merges airlines_df and airport_codes_df
airlines_final_df = airlines_df.merge(airport_codes_df, on = 'Destination Airport', indicator = True)

In [34]:
# checks for result of the merge
airlines_final_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Full Location,_merge
0,Delta,1/1/17,50.0,N385DN,SLC,16:45:00,16:49:00,119.0,108.0,4.0,15.0,0.0,0.0,0.0,0.0,0.0,"SALT LAKE CITY, UTAH, USA",both
1,Delta,1/1/17,106.0,N313US,SLC,13:05:00,13:01:00,117.0,116.0,-4.0,20.0,0.0,0.0,0.0,0.0,0.0,"SALT LAKE CITY, UTAH, USA",both
2,Delta,1/1/17,798.0,N848DN,SLC,06:15:00,06:38:00,125.0,126.0,23.0,15.0,23.0,0.0,1.0,0.0,0.0,"SALT LAKE CITY, UTAH, USA",both
3,Delta,1/1/17,2536.0,N317NB,SLC,11:20:00,12:10:00,123.0,107.0,50.0,16.0,2.0,0.0,0.0,0.0,32.0,"SALT LAKE CITY, UTAH, USA",both
4,Delta,1/1/18,50.0,N960DN,SLC,16:40:00,19:00:00,120.0,112.0,140.0,20.0,3.0,0.0,0.0,0.0,129.0,"SALT LAKE CITY, UTAH, USA",both

In [35]:
# checks for counts of indicator 
airlines_final_df['_merge'].value_counts()

both          278007
left_only          0
right_only         0
Name: _merge, dtype: int64

In [36]:
# drops indicator column
airlines_final_df = airlines_final_df.drop(columns = ['_merge'])

In [37]:
# checks shape of airlines_final_df
airlines_final_df.shape

(278007, 17)

# 5. Export Dataframe

In [38]:
# exports dataframe
airlines_final_df.to_csv(os.path.join(path, 'Prepared Data', 'airlines_final_df.csv'))