# Import Libraries

In [98]:
# import libraries
import numpy as np
import pandas as pd
import os
import datetime

In [99]:
# import dataframe
path = r'/Users/oliviamurphy/Desktop/Airlines Project/02 Data'
airlines_final_df = pd.read_csv(os.path.join(path, 'Prepared Data', 'airlines_final_df.csv'), index_col = [0])

# Convert Mixed Type Columns

In [100]:
# converts datatpes
airlines_final_df['Carrier'] = airlines_final_df['Carrier'].astype(str)
airlines_final_df['Date (MM/DD/YYYY)'] = airlines_final_df['Date (MM/DD/YYYY)'].astype(str)
airlines_final_df['Tail Number'] = airlines_final_df['Tail Number'].astype(str)
airlines_final_df['Destination Airport'] = airlines_final_df['Destination Airport'].astype(str)
airlines_final_df['Flight Number'] = airlines_final_df['Flight Number'].astype(str)
airlines_final_df['Actual Departure Time'] = pd.to_datetime(airlines_final_df['Actual Departure Time'], format = '%H:%M:%S').dt.time
airlines_final_df['Scheduled Departure Time'] = pd.to_datetime(airlines_final_df['Scheduled Departure Time'], format = '%H:%M:%S').dt.time

# Create new variables

In [101]:
# returns first five rows of airlines_final_df
airlines_final_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),Full Location
0,Delta,1/1/17,50.0,N385DN,SLC,16:45:00,16:49:00,119.0,108.0,4.0,15.0,0.0,0.0,0.0,0.0,0.0,"SALT LAKE CITY, UTAH, USA"
1,Delta,1/1/17,106.0,N313US,SLC,13:05:00,13:01:00,117.0,116.0,-4.0,20.0,0.0,0.0,0.0,0.0,0.0,"SALT LAKE CITY, UTAH, USA"
2,Delta,1/1/17,798.0,N848DN,SLC,06:15:00,06:38:00,125.0,126.0,23.0,15.0,23.0,0.0,1.0,0.0,0.0,"SALT LAKE CITY, UTAH, USA"
3,Delta,1/1/17,2536.0,N317NB,SLC,11:20:00,12:10:00,123.0,107.0,50.0,16.0,2.0,0.0,0.0,0.0,32.0,"SALT LAKE CITY, UTAH, USA"
4,Delta,1/1/18,50.0,N960DN,SLC,16:40:00,19:00:00,120.0,112.0,140.0,20.0,3.0,0.0,0.0,0.0,129.0,"SALT LAKE CITY, UTAH, USA"

## create new variables from Full Location column

In [102]:
# splits Full Location into four columns
airlines_final_df[['City', 'State', 'Country', 'Placeholder']] = airlines_final_df['Full Location'].str.split(', ', expand = True)

In [103]:
# drops extra column
airlines_final_df = airlines_final_df.drop(columns = {'Placeholder', 'Full Location'})

In [104]:
airlines_final_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),Taxi-Out Time (Minutes),Delay Carrier (Minutes),Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),City,State,Country
0,Delta,1/1/17,50.0,N385DN,SLC,16:45:00,16:49:00,119.0,108.0,4.0,15.0,0.0,0.0,0.0,0.0,0.0,SALT LAKE CITY,UTAH,USA
1,Delta,1/1/17,106.0,N313US,SLC,13:05:00,13:01:00,117.0,116.0,-4.0,20.0,0.0,0.0,0.0,0.0,0.0,SALT LAKE CITY,UTAH,USA
2,Delta,1/1/17,798.0,N848DN,SLC,06:15:00,06:38:00,125.0,126.0,23.0,15.0,23.0,0.0,1.0,0.0,0.0,SALT LAKE CITY,UTAH,USA
3,Delta,1/1/17,2536.0,N317NB,SLC,11:20:00,12:10:00,123.0,107.0,50.0,16.0,2.0,0.0,0.0,0.0,32.0,SALT LAKE CITY,UTAH,USA
4,Delta,1/1/18,50.0,N960DN,SLC,16:40:00,19:00:00,120.0,112.0,140.0,20.0,3.0,0.0,0.0,0.0,129.0,SALT LAKE CITY,UTAH,USA

## creates new columns from Date (MM/DD/YYYY) column

In [105]:
#  Splits flight date into day, month, and year
airlines_final_df[['Flight Month', 'Flight Day', 'Flight Year']] =airlines_final_df['Date (MM/DD/YYYY)'].str.split('/', expand = True)

In [106]:
# checks output after split and dropped columns
airlines_final_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),...,Delay Weather (Minutes),Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),City,State,Country,Flight Month,Flight Day,Flight Year
0,Delta,1/1/17,50.0,N385DN,SLC,16:45:00,16:49:00,119.0,108.0,4.0,...,0.0,0.0,0.0,0.0,SALT LAKE CITY,UTAH,USA,1,1,17
1,Delta,1/1/17,106.0,N313US,SLC,13:05:00,13:01:00,117.0,116.0,-4.0,...,0.0,0.0,0.0,0.0,SALT LAKE CITY,UTAH,USA,1,1,17
2,Delta,1/1/17,798.0,N848DN,SLC,06:15:00,06:38:00,125.0,126.0,23.0,...,0.0,1.0,0.0,0.0,SALT LAKE CITY,UTAH,USA,1,1,17
3,Delta,1/1/17,2536.0,N317NB,SLC,11:20:00,12:10:00,123.0,107.0,50.0,...,0.0,0.0,0.0,32.0,SALT LAKE CITY,UTAH,USA,1,1,17
4,Delta,1/1/18,50.0,N960DN,SLC,16:40:00,19:00:00,120.0,112.0,140.0,...,0.0,0.0,0.0,129.0,SALT LAKE CITY,UTAH,USA,1,1,18

## create new variable for known delays

In [107]:
## create new variable for the total delay time with delays with known causes
airlines_final_df['Known Total Delay (Minutes)'] = airlines_final_df['Delay Weather (Minutes)']+airlines_final_df['Delay Carrier (Minutes)']+ airlines_final_df['Delay National Aviation System (Minutes)']+airlines_final_df['Delay Security (Minutes)']+airlines_final_df['Delay Late Aircraft Arrival (Minutes)']

In [108]:
## checks first five rows of new variable
airlines_final_df['Known Total Delay (Minutes)'].head()

0      0.0
1      0.0
2     24.0
3     34.0
4    132.0
Name: Known Total Delay (Minutes), dtype: float64

## creates variable for descrepancy

In [109]:
## creates variable for unaccounted delay time
airlines_final_df['Unaccounted Delay Time'] = airlines_final_df['Known Total Delay (Minutes)'] - airlines_final_df['Departure Delay (Minutes)']

In [110]:
## checks first five rows of new variable
airlines_final_df['Unaccounted Delay Time'].head()

0    -4.0
1     4.0
2     1.0
3   -16.0
4    -8.0
Name: Unaccounted Delay Time, dtype: float64

# Change value formats in split columns

In [111]:
# changes capitalization for airlines_final_df['City']
airlines_final_df['City'] = airlines_final_df['City'].str.title()

In [112]:
# changes capitalization for airlines_final_df['State']
airlines_final_df['State'] = airlines_final_df['State'].str.title()

In [113]:
# changes values for airlines_final_df['Flight Month'] from numbers to month names
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('1', 'January')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('2', 'February')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('3', 'March')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('4', 'April')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('5', 'May')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('6', 'June')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('7', 'July')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('8', 'August')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('9', 'September')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('10', 'October')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('11', 'November')
airlines_final_df['Flight Month'] = airlines_final_df['Flight Month'].replace('12', 'December')

In [114]:
# changes airlines_final_df['Flight Year'] to long version of year
airlines_final_df['Flight Year'] = airlines_final_df['Flight Year'].replace('17', '2017')
airlines_final_df['Flight Year'] = airlines_final_df['Flight Year'].replace('18', '2018')
airlines_final_df['Flight Year'] = airlines_final_df['Flight Year'].replace('19', '2019')
airlines_final_df['Flight Year'] = airlines_final_df['Flight Year'].replace('20', '2020')
airlines_final_df['Flight Year'] = airlines_final_df['Flight Year'].replace('21', '2021')

# Check accuracy/consistency of new values

In [115]:
# airlines_final_df['Flight Month'] value counts
airlines_final_df['Flight Month'].value_counts()

August       25216
July         25072
March        25061
October      23496
January      23198
December     22983
June         22900
September    22731
November     22551
April        22403
May          21434
February     20962
Name: Flight Month, dtype: int64

In [116]:
# airlines_final_df['Flight Year'] value counts
airlines_final_df['Flight Year'].value_counts()

2019    68461
2018    65833
2017    61848
2021    41928
2020    39937
Name: Flight Year, dtype: int64

In [117]:
# airlines_final_df['Flight Day'] value counts
airlines_final_df['Flight Day'].value_counts()

12    9233
20    9228
19    9227
17    9217
23    9213
13    9205
21    9204
10    9199
22    9198
27    9195
9     9193
26    9178
16    9170
6     9167
8     9151
15    9140
18    9134
24    9103
11    9101
5     9077
28    9067
1     9067
7     9062
2     9060
14    9013
25    9008
3     9007
4     8845
29    8586
30    8560
31    5199
Name: Flight Day, dtype: int64

In [118]:
# airlines_final_df['Flight City'] value counts
airlines_final_df['City'].value_counts()

Phoenix                23066
San Francisco          22018
Dallas/Ft.Worth        20682
Chicago                18679
San Jose               17720
Sacramento             17554
Denver                 17363
Oakland                15769
Las Vegas              15316
Houston                11208
Salt Lake City         10048
Atlanta                 9871
Seattle                 6598
Minneapolis/St.Paul     5899
New York                5391
Charlotte               5178
Newark                  5035
Washington              4234
Baltimore               4157
Detroit                 3795
Austin                  3678
Reno                    3401
Philadelphia            3238
St. Louis               2909
Tucson                  2652
Nashville               2641
Portland                2588
Albuquerque             2392
San Antonio             2282
Kansas City             2281
Miami                   1924
Boise                   1273
New Orleans             1270
Los Angeles             1267
Orlando                 1009
Honolulu                 631
Tampa                    621
El Paso                  520
Kahului                  350
Spokane                  343
Milwaukee                310
Omaha                    289
Indianapolis             212
Kona                     127
Lihue                    115
Norfolk                   93
Bozeman                   10
Name: City, dtype: int64

In [119]:
# airlines_final_df['State'] value counts
airlines_final_df['State'].value_counts()
# accuracy issue: some of these are not states

California        74328
Texas             38370
Arizona           25718
Nevada            18717
Illinois          18679
Colorado          17363
Utah              10048
Georgia            9871
Washington         6941
Minnesota          5899
New York           5391
Missouri           5190
North Carolina     5178
New Jersey         5035
D.C.               4234
Maryland           4157
Michigan           3795
Florida            3554
Pennsylvania       3238
Tennessee          2641
Oregon             2588
New Mexico         2392
Idaho              1273
Louisiana          1270
Oahu                631
Maui                350
Wisconsin           310
Nebraska            289
Indiana             212
Hawaii              127
Kauai               115
Virginia             93
Montana              10
Name: State, dtype: int64

In [120]:
# replaces places that are not states with state name
airlines_final_df['State'] = airlines_final_df['State'].replace('Oahu', 'Hawaii')
airlines_final_df['State'] = airlines_final_df['State'].replace('Maui', 'Hawaii')
airlines_final_df['State'] = airlines_final_df['State'].replace('Kauai', 'Hawaii')

In [121]:
# airlines_final_df['State'] value counts
airlines_final_df['State'].value_counts()

California        74328
Texas             38370
Arizona           25718
Nevada            18717
Illinois          18679
Colorado          17363
Utah              10048
Georgia            9871
Washington         6941
Minnesota          5899
New York           5391
Missouri           5190
North Carolina     5178
New Jersey         5035
D.C.               4234
Maryland           4157
Michigan           3795
Florida            3554
Pennsylvania       3238
Tennessee          2641
Oregon             2588
New Mexico         2392
Idaho              1273
Louisiana          1270
Hawaii             1223
Wisconsin           310
Nebraska            289
Indiana             212
Virginia             93
Montana              10
Name: State, dtype: int64

In [122]:
# airlines_final_df['Carrier'] value counts
airlines_final_df['Carrier'].value_counts()

Southwest    159390
United        42173
American      40206
Delta         36238
Name: Carrier, dtype: int64

In [123]:
# checks value counts for ['Country']
airlines_final_df['Country'].value_counts()
# accuracy issue: Hawaii is not a state
# all locations are USA, so column can be dropped.

USA                      58141
USA                      39506
USA                      37883
USA                      30719
USA                      29776
USA                      27196
USA                      14273
USA                      12708
USA                       5899
USA                       4674
USA                       3678
USA                       3659
USA                       3238
USA                       2941
USA                       2493
HAWAII                    1223
Name: Country, dtype: int64

In [124]:
# drops Country column
airlines_final_df = airlines_final_df.drop(columns = {'Country'})

In [125]:
# checks new output
airlines_final_df.head()

,Carrier,Date (MM/DD/YYYY),Flight Number,Tail Number,Destination Airport,Scheduled Departure Time,Actual Departure Time,Scheduled Elapsed Time (Minutes),Actual Elapsed Time (Minutes),Departure Delay (Minutes),...,Delay National Aviation System (Minutes),Delay Security (Minutes),Delay Late Aircraft Arrival (Minutes),City,State,Flight Month,Flight Day,Flight Year,Known Total Delay (Minutes),Unaccounted Delay Time
0,Delta,1/1/17,50.0,N385DN,SLC,16:45:00,16:49:00,119.0,108.0,4.0,...,0.0,0.0,0.0,Salt Lake City,Utah,January,1,2017,0.0,-4.0
1,Delta,1/1/17,106.0,N313US,SLC,13:05:00,13:01:00,117.0,116.0,-4.0,...,0.0,0.0,0.0,Salt Lake City,Utah,January,1,2017,0.0,4.0
2,Delta,1/1/17,798.0,N848DN,SLC,06:15:00,06:38:00,125.0,126.0,23.0,...,1.0,0.0,0.0,Salt Lake City,Utah,January,1,2017,24.0,1.0
3,Delta,1/1/17,2536.0,N317NB,SLC,11:20:00,12:10:00,123.0,107.0,50.0,...,0.0,0.0,32.0,Salt Lake City,Utah,January,1,2017,34.0,-16.0
4,Delta,1/1/18,50.0,N960DN,SLC,16:40:00,19:00:00,120.0,112.0,140.0,...,0.0,0.0,129.0,Salt Lake City,Utah,January,1,2018,132.0,-8.0

In [126]:
# checks shape 
airlines_final_df.shape

(278007, 23)

# difference in departure time (expected vs real)`

In [127]:
# creates variable for the Actual Departure Time & Date
airlines_final_df['Actual Departure Date & Time'] =(airlines_final_df['Date (MM/DD/YYYY)']) + ' ' +(airlines_final_df['Actual Departure Time'].astype(str))

In [128]:
# creates variable for the Actual Departure Time & Date
airlines_final_df['Scheduled Departure Date & Time'] =(airlines_final_df['Date (MM/DD/YYYY)']) + ' ' +(airlines_final_df['Scheduled Departure Time'].astype(str))

In [129]:
# converts Actual Departure Date & Time to datetime and creates a new object for it.
actual_dep_datetime = pd.to_datetime(airlines_final_df['Actual Departure Date & Time'], format = '%m/%d/%y %H:%M:%S')

In [130]:
# converts Scheduled Departure Date & Time to datetime and creates a new object for it.
scheduled_dep_datetime = pd.to_datetime(airlines_final_df['Scheduled Departure Date & Time'], format = '%m/%d/%y %H:%M:%S')

In [131]:
# creates columns for the Difference in Actual & Expected Departure Time
airlines_final_df['Difference in Actual & Expected Departure Time'] = actual_dep_datetime-scheduled_dep_datetime

In [132]:
# outputs the first five rows of airlines_final_df['Difference in Actual & Expected Departure Time']
airlines_final_df['Difference in Actual & Expected Departure Time'].head()

0     0 days 00:04:00
1   -1 days +23:56:00
2     0 days 00:23:00
3     0 days 00:50:00
4     0 days 02:20:00
Name: Difference in Actual & Expected Departure Time, dtype: timedelta64[ns]

# difference in time in air (expected vs real)`

In [133]:
# creates variable for the Difference in Actual & Expected Air Time
airlines_final_df['Difference in Actual & Expected Air Time'] =airlines_final_df['Scheduled Elapsed Time (Minutes)'] - airlines_final_df['Actual Elapsed Time (Minutes)']

# Normalized Data

In [134]:
# outputs total delay in minutes for each carrier
airlines_final_df.groupby('Carrier')['Known Total Delay (Minutes)'].sum()

Carrier
American      434469.0
Delta         231787.0
Southwest    1241658.0
United        427991.0
Name: Known Total Delay (Minutes), dtype: float64

In [135]:
# normalizes delays for Southwest
airlines_final_df.loc[airlines_final_df['Carrier']=='Southwest', ['Delay Carrier (%)']]= (airlines_final_df['Delay Carrier (Minutes)']/1241658)
airlines_final_df.loc[airlines_final_df['Carrier']=='Southwest', ['Delay Weather (%)']]= (airlines_final_df['Delay Weather (Minutes)']/1241658)
airlines_final_df.loc[airlines_final_df['Carrier']=='Southwest', ['Delay National Aviation System (%)']]= (airlines_final_df['Delay National Aviation System (Minutes)']/1241658)
airlines_final_df.loc[airlines_final_df['Carrier']=='Southwest', ['Delay Security (%)']]= (airlines_final_df['Delay Security (Minutes)']/1241658)
airlines_final_df.loc[airlines_final_df['Carrier']=='Southwest', ['Delay Late Aircraft Arrival (%)']]= (airlines_final_df['Delay Late Aircraft Arrival (Minutes)']/1241658)

In [136]:
# normalizes delays for United
airlines_final_df.loc[airlines_final_df['Carrier']=='United', ['Delay Carrier (%)']]= (airlines_final_df['Delay Carrier (Minutes)']/427991)
airlines_final_df.loc[airlines_final_df['Carrier']=='United', ['Delay Weather (%)']]= (airlines_final_df['Delay Weather (Minutes)']/427991)
airlines_final_df.loc[airlines_final_df['Carrier']=='United', ['Delay National Aviation System (%)']]= (airlines_final_df['Delay National Aviation System (Minutes)']/427991)
airlines_final_df.loc[airlines_final_df['Carrier']=='United', ['Delay Security (%)']]= (airlines_final_df['Delay Security (Minutes)']/427991)
airlines_final_df.loc[airlines_final_df['Carrier']=='United', ['Delay Late Aircraft Arrival (%)']]= (airlines_final_df['Delay Late Aircraft Arrival (Minutes)']/427991)

In [137]:
# normalizes delays for American
airlines_final_df.loc[airlines_final_df['Carrier']=='American', ['Delay Carrier (%)']]= (airlines_final_df['Delay Carrier (Minutes)']/434469)
airlines_final_df.loc[airlines_final_df['Carrier']=='American', ['Delay Weather (%)']]= (airlines_final_df['Delay Weather (Minutes)']/434469)
airlines_final_df.loc[airlines_final_df['Carrier']=='American', ['Delay National Aviation System (%)']]= (airlines_final_df['Delay National Aviation System (Minutes)']/434469)
airlines_final_df.loc[airlines_final_df['Carrier']=='American', ['Delay Security (%)']]= (airlines_final_df['Delay Security (Minutes)']/434469)
airlines_final_df.loc[airlines_final_df['Carrier']=='American', ['Delay Late Aircraft Arrival (%)']]= (airlines_final_df['Delay Late Aircraft Arrival (Minutes)']/434469)

In [138]:
# normalizes delays for Delta
airlines_final_df.loc[airlines_final_df['Carrier']=='Delta', ['Delay Carrier (%)']]= (airlines_final_df['Delay Carrier (Minutes)']/231787)
airlines_final_df.loc[airlines_final_df['Carrier']=='Delta', ['Delay Weather (%)']]= (airlines_final_df['Delay Weather (Minutes)']/231787)
airlines_final_df.loc[airlines_final_df['Carrier']=='Delta', ['Delay National Aviation System (%)']]= (airlines_final_df['Delay National Aviation System (Minutes)']/231787)
airlines_final_df.loc[airlines_final_df['Carrier']=='Delta', ['Delay Security (%)']]= (airlines_final_df['Delay Security (Minutes)']/231787)
airlines_final_df.loc[airlines_final_df['Carrier']=='Delta', ['Delay Late Aircraft Arrival (%)']]= (airlines_final_df['Delay Late Aircraft Arrival (Minutes)']/231787)

In [139]:
test = airlines_final_df.loc[airlines_final_df['Carrier']=='Delta']

In [140]:
(airlines_final_df['Delay Carrier (Minutes)']/36238)

0         0.000000
1         0.000000
2         0.000635
3         0.000055
4         0.000083
            ...
278002    0.000000
278003    0.000000
278004    0.000000
278005    0.000000
278006    0.000000
Name: Delay Carrier (Minutes), Length: 278007, dtype: float64

# quick check for duplicates and null values

In [141]:
# Check for null values
airlines_final_df.isnull().sum()

Carrier                                           0
Date (MM/DD/YYYY)                                 0
Flight Number                                     0
Tail Number                                       0
Destination Airport                               0
Scheduled Departure Time                          0
Actual Departure Time                             0
Scheduled Elapsed Time (Minutes)                  0
Actual Elapsed Time (Minutes)                     0
Departure Delay (Minutes)                         0
Taxi-Out Time (Minutes)                           0
Delay Carrier (Minutes)                           0
Delay Weather (Minutes)                           0
Delay National Aviation System (Minutes)          0
Delay Security (Minutes)                          0
Delay Late Aircraft Arrival (Minutes)             0
City                                              0
State                                             0
Flight Month                                      0
Flight Day                                        0
Flight Year                                       0
Known Total Delay (Minutes)                       0
Unaccounted Delay Time                            0
Actual Departure Date & Time                      0
Scheduled Departure Date & Time                   0
Difference in Actual & Expected Departure Time    0
Difference in Actual & Expected Air Time          0
Delay Carrier (%)                                 0
Delay Weather (%)                                 0
Delay National Aviation System (%)                0
Delay Security (%)                                0
Delay Late Aircraft Arrival (%)                   0
dtype: int64

In [142]:
# check for duplicates
airlines_final_df[airlines_final_df.duplicated()]
# no duplicates

Empty DataFrame
Columns: [Carrier, Date (MM/DD/YYYY), Flight Number, Tail Number, Destination Airport, Scheduled Departure Time, Actual Departure Time, Scheduled Elapsed Time (Minutes), Actual Elapsed Time (Minutes), Departure Delay (Minutes), Taxi-Out Time (Minutes), Delay Carrier (Minutes), Delay Weather (Minutes), Delay National Aviation System (Minutes), Delay Security (Minutes), Delay Late Aircraft Arrival (Minutes), City, State, Flight Month, Flight Day, Flight Year, Known Total Delay (Minutes), Unaccounted Delay Time, Actual Departure Date & Time, Scheduled Departure Date & Time, Difference in Actual & Expected Departure Time, Difference in Actual & Expected Air Time, Delay Carrier (%), Delay Weather (%), Delay National Aviation System (%), Delay Security (%), Delay Late Aircraft Arrival (%)]
Index: []

[0 rows x 32 columns]

# Delay?

In [143]:
#creates variable for minutes delayed
airlines_final_df.loc[airlines_final_df['Known Total Delay (Minutes)']>0, ['Delay?']]='Yes'
airlines_final_df.loc[airlines_final_df['Known Total Delay (Minutes)']<=0, ['Delay?']]='No'

In [144]:
airlines_final_df['Delay?'].value_counts()

No     237555
Yes     40452
Name: Delay?, dtype: int64

In [145]:
# export dataframe

In [146]:
# exports dataframe
airlines_final_df.to_csv(os.path.join(path, 'Prepared Data', 'airlines_final_df_new_variables.csv'))