# Import Data & Libraries

In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
# import data frame
path = r'/Users/oliviamurphy/Desktop/Airlines Project/02 Data'
airlines_final_df= pd.read_csv(os.path.join(path, 'Prepared Data', 'airlines_final_df_new_variables.csv'), index_col = [0])

# Convert Data Types

In [3]:
# converts data types
airlines_final_df['Carrier'] = airlines_final_df['Carrier'].astype(str)
airlines_final_df['Tail Number'] = airlines_final_df['Tail Number'].astype(str)
airlines_final_df['Destination Airport'] = airlines_final_df['Destination Airport'].astype(str)
airlines_final_df['Actual Departure Time'] = pd.to_datetime(airlines_final_df['Actual Departure Time']).dt.hour
airlines_final_df['Scheduled Departure Time'] = pd.to_datetime(airlines_final_df['Scheduled Departure Time']).dt.hour
airlines_final_df['Flight Number'] = airlines_final_df['Flight Number'].astype(str)

# Descriptive Stats (numerical variables)

In [4]:
# returns variable list
airlines_final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 278007 entries, 0 to 278006
Data columns (total 33 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Carrier                                         278007 non-null  object
 1   Date (MM/DD/YYYY)                               278007 non-null  object
 2   Flight Number                                   278007 non-null  object
 3   Tail Number                                     278007 non-null  object
 4   Destination Airport                             278007 non-null  object
 5   Scheduled Departure Time                        278007 non-null  int64
 6   Actual Departure Time                           278007 non-null  int64
 7   Scheduled Elapsed Time (Minutes)                278007 non-null  float64
 8   Actual Elapsed Time (Minutes)                   278007 non-null  float64
 9   Departure Delay (Minutes)                       278007 non-null  float64
 10  Taxi-Out Time (Minutes)                         278007 non-null  float64
 11  Delay Carrier (Minutes)                         278007 non-null  float64
 12  Delay Weather (Minutes)                         278007 non-null  float64
 13  Delay National Aviation System (Minutes)        278007 non-null  float64
 14  Delay Security (Minutes)                        278007 non-null  float64
 15  Delay Late Aircraft Arrival (Minutes)           278007 non-null  float64
 16  City                                            278007 non-null  object
 17  State                                           278007 non-null  object
 18  Flight Month                                    278007 non-null  object
 19  Flight Day                                      278007 non-null  int64
 20  Flight Year                                     278007 non-null  int64
 21  Known Total Delay (Minutes)                     278007 non-null  float64
 22  Unaccounted Delay Time                          278007 non-null  float64
 23  Actual Departure Date & Time                    278007 non-null  object
 24  Scheduled Departure Date & Time                 278007 non-null  object
 25  Difference in Actual & Expected Departure Time  278007 non-null  object
 26  Difference in Actual & Expected Air Time        278007 non-null  float64
 27  Delay Carrier (%)                               278007 non-null  float64
 28  Delay Weather (%)                               278007 non-null  float64
 29  Delay National Aviation System (%)              278007 non-null  float64
 30  Delay Security (%)                              278007 non-null  float64
 31  Delay Late Aircraft Arrival (%)                 278007 non-null  float64
 32  Delay?                                          278007 non-null  object
dtypes: float64(17), int64(4), object(12)
memory usage: 72.1+ MB

In [5]:
# saves descriptive stats to dataframe
descriptive_stats_air = airlines_final_df.describe()

# Descriptive Stats (categorical variables)

In [6]:
# value counts for airlines_final_df['City']
airlines_final_df['City'].value_counts()

Phoenix                23066
San Francisco          22018
Dallas/Ft.Worth        20682
Chicago                18679
San Jose               17720
Sacramento             17554
Denver                 17363
Oakland                15769
Las Vegas              15316
Houston                11208
Salt Lake City         10048
Atlanta                 9871
Seattle                 6598
Minneapolis/St.Paul     5899
New York                5391
Charlotte               5178
Newark                  5035
Washington              4234
Baltimore               4157
Detroit                 3795
Austin                  3678
Reno                    3401
Philadelphia            3238
St. Louis               2909
Tucson                  2652
Nashville               2641
Portland                2588
Albuquerque             2392
San Antonio             2282
Kansas City             2281
Miami                   1924
Boise                   1273
New Orleans             1270
Los Angeles             1267
Orlando                 1009
Honolulu                 631
Tampa                    621
El Paso                  520
Kahului                  350
Spokane                  343
Milwaukee                310
Omaha                    289
Indianapolis             212
Kona                     127
Lihue                    115
Norfolk                   93
Bozeman                   10
Name: City, dtype: int64

In [7]:
# value counts for airlines_final_df['Carrier']
airlines_final_df['Carrier'].value_counts()

Southwest    159390
United        42173
American      40206
Delta         36238
Name: Carrier, dtype: int64

In [8]:
# value counts for airlines_final_df['State']
airlines_final_df['State'].value_counts()

California        74328
Texas             38370
Arizona           25718
Nevada            18717
Illinois          18679
Colorado          17363
Utah              10048
Georgia            9871
Washington         6941
Minnesota          5899
New York           5391
Missouri           5190
North Carolina     5178
New Jersey         5035
D.C.               4234
Maryland           4157
Michigan           3795
Florida            3554
Pennsylvania       3238
Tennessee          2641
Oregon             2588
New Mexico         2392
Idaho              1273
Louisiana          1270
Hawaii             1223
Wisconsin           310
Nebraska            289
Indiana             212
Virginia             93
Montana              10
Name: State, dtype: int64

In [9]:
# value counts for airlines_final_df['Destination Airport']
airlines_final_df['Destination Airport'].value_counts()

PHX    23066
SFO    22018
SJC    17720
SMF    17554
DEN    17363
OAK    15769
LAS    15316
DFW    14786
ORD    12680
SLC    10048
ATL     9871
IAH     7300
SEA     6598
MDW     5999
MSP     5899
DAL     5896
JFK     5391
CLT     5178
EWR     5035
IAD     4234
BWI     4157
HOU     3908
DTW     3795
AUS     3678
RNO     3401
PHL     3238
STL     2909
TUS     2652
BNA     2641
PDX     2588
ABQ     2392
SAT     2282
MCI     2281
MIA     1924
BOI     1273
MSY     1270
LAX     1267
MCO     1009
HNL      631
TPA      621
ELP      520
OGG      350
GEG      343
MKE      310
OMA      289
IND      212
KOA      127
LIH      115
ORF       93
BZN       10
Name: Destination Airport, dtype: int64

In [10]:
# value counts for airlines_final_df['Flight Month']
airlines_final_df['Flight Month'].value_counts()

August       25216
July         25072
March        25061
October      23496
January      23198
December     22983
June         22900
September    22731
November     22551
April        22403
May          21434
February     20962
Name: Flight Month, dtype: int64

In [11]:
# value counts for airlines_final_df['Flight Year']
airlines_final_df['Flight Year'].value_counts()

2019    68461
2018    65833
2017    61848
2021    41928
2020    39937
Name: Flight Year, dtype: int64

In [12]:
# value counts for airlines_final_df['Flight Day']
airlines_final_df['Flight Day'].value_counts().sort_index()

1     9067
2     9060
3     9007
4     8845
5     9077
6     9167
7     9062
8     9151
9     9193
10    9199
11    9101
12    9233
13    9205
14    9013
15    9140
16    9170
17    9217
18    9134
19    9227
20    9228
21    9204
22    9198
23    9213
24    9103
25    9008
26    9178
27    9195
28    9067
29    8586
30    8560
31    5199
Name: Flight Day, dtype: int64

In [13]:
# saves descriptive_stats_air to file
path2 = r'/Users/oliviamurphy/Desktop/Airlines Project/04 Analysis'
descriptive_stats_air.to_csv(os.path.join(path2, 'descriptive_stats_air.csv'))